<div ng-controller="productsCtrl" ng-app="productPortalApp.products">
  <div class='products_page_container'>
    <div class="products_page_csv_submit">
      <ng-csv-import content="csv.content"
        header="csv.header" 
        separator="csv.separator"
        result="csv.result"></ng-csv-import>
      <div class="products_page_csvfile_upload_button">
        <md-button class='md-raised' ng-click="uploadCsvFile()">Upload</md-button>  
      </div>
    </div>
    <div class="products_page_show_tests_button_wrapper">
      <md-button class='products_page_show_tests_button md-raised'>{{toggleTestViewText}} Product Tests</md-button>  
    </div>
    <table class="table table-bordered table-hover products_page_table" id="products_page_table">
      <thead>
        <tr>
          <td>Product ID</td>
          <td>Product Name</td>
          <td>Product Description</td>
          <td>State</td>
        </tr>
      </thead>
      <tbody class="products_page_table_product_row" ng-repeat="product in csvContentsRefactored">
        <tr class="active">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.manufacturer}}</td>
          <td><span ng-show="product.state">Verified</span><span ng-hide="product.state">Unverified</span></td>
        </tr>
        <tr class="products_page_table_product_tests_row">
          <td colspan="4">
            <table class="table table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <td>Test Name</td>
                  <td>Test Description</td>
                  <td>Datetime</td>
                  <td>Status</td>
                  <td>Comment</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product_test in product.tests">
                  <td>{{productQualityTests[product_test.test_id].name}}</td>
                  <td>{{productQualityTests[product_test.test_id].description}}</td>
                  <td>
                    <div class="dropdown" id="products_page_calendar_dropdown">
                      <a class="dropdown-toggle" id="dropdown{{product_test.idString}}" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group"><input type="text" class="form-control" data-ng-model="product_test.datetime" id="products_page_table_test_datetime" ng-change="updateDatabase(product)"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="product_test.datetime" data-datetimepicker-config="{ dropdownSelector: '#dropdown{{product_test.idString}}' }" ng-change="updateDatabase(product)"/>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <select ng-model="product_test.status" ng-change="updateDatabase(product)">
                      <option ng-selected="product_test.status === 'pending'">pending</option>
                      <option ng-selected="product_test.status === 'pass'" ng-model="product_test.status">pass</option>
                      <option ng-selected="product_test.status === 'fail'" ng-model="product_test.status">fail</option>
                    </select>
                  </td>
                  <td>
                    <input type="text"
                           ng-model="product_test.comment"
                           ng-change="updateDatabase(product)"
                           [name="string"]
                           [required="string"]
                           [ng-required="string"]
                           [ng-minlength="number"]
                           [ng-maxlength="number"]
                           [pattern="string"]
                           [ng-pattern="string"]
                           [ng-change="string"]
                           [ng-trim="boolean"]>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
