.products_page_csv_submit {
  /*text-align:center;*/
  margin: auto 0;
}

#products_page_table {
  margin-left:5%;
  width:90%;
  margin-right:5%;
}

.products_page_table, tr, table{
  /*border: 1px solid black;*/
}


.products_page_table > thead:first-child {
  font-weight:bold;
  font-size:1.5em;
}

thead > tr {
  /*background-color: #cecece;*/
  /*font-color:red;*/
}

.products_page_table_product_tests_row {
  display:none;
  width:100%;
}

table{ 
  box-shadow: 1px 1px 1px #999;
}

#products_page_table_test_datetime {
  width:300px;
}

.products_page_show_tests_button_wrapper {
  float:right;
  margin-right:5%;
}